.wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 8rem 3rem;
    align-items: center;
}

.wrapper p {
    width: 69%;
    font-family: 'Poppins', 'sans-sherif';
}

.wrapper strong {
    font-weight: bolder;
    font-size: 1.4rem;
    color: #000000;
    text-transform: uppercase;
}

.extMar {
    margin: 1rem 0;
    color: #878787;
}

/* SVG icon styles  */

svg {
    fill: #878787;
}


.carSvg:hover {
    animation: carAnim .3s ease-in;
}

.supportSvg:hover {
    animation: othersAnim .7s ease-in-out;

}

.returnSvg:hover {
    animation: returnAnim .7s ease-in-out;

}

.SecureSvg:hover {
    animation: othersAnim .7s ease-in-out;

}



/* defining logo animation keyframes  */
@keyframes carAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes othersAnim {
    from {
        transform: rotate(0deg);
    }


    to {
        transform: rotate(-360deg);
    }
}

@keyframes returnAnim {
    from {
        transform: rotate(0deg);
    }


    to {
        transform: rotate(360deg);
    }
}




/* ---------- Responsive Code ----------  */
@media screen and (max-width:1200px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
}


@media screen and (max-width:1064px) {
    .wrapper div {
        text-align: center;
    }

    .wrapper div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:372px) {
    .wrapper div div p {
        font-size: 1.2rem;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}