.grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    padding: 3rem;
}

@media screen and (max-width: 1333px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 727px) {
    .grid {
        row-gap: 3rem;
    }
}

@media screen and (max-width: 681px) {
    .grid {
        grid-template-columns: 1fr;
    }
}


.loadMoreBtn {
    text-align: center;

}

.loadMoreBtn button {
    border: none;
    text-transform: capitalize;
    border: 2px solid black;
    padding: 1.5rem 4.9rem;
    font-size: 1.4rem;
    /* font-weight: bolder; */
    letter-spacing: .1rem;
    border-radius: 8rem;
    background: #ffffff;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    position: relative;
    z-index: 6;
    transition: .3s ease-in;
    overflow: hidden;

}

.loadMoreBtn button:hover {
    border: 2px solid #56cfe1;
    color: #ffffff;

}

.loadMoreBtn button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #56cfe1;
    transform: translateX(-100%);
    transition: .3s ease-in;

    z-index: -5;
    border-radius: 8rem;
}

.loadMoreBtn button:hover::before {
    transform: translateX(0);
}