.categoryBtn {
    font-size: 1.4rem;
    font-weight: bolder;
    padding: 1.2rem 4.5rem;
    /* margin-top: .8rem; */
    border: none;
    text-transform: capitalize;
    /* temprery styles  */
    background: #ffffff;
    color: #000000;
    margin-bottom: 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: .4s ease-in-out;

}

.categoryBtn:hover {
    color: #ffffff;
    background: #000000;
}