html {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 100px;
    background: green;
    display: none;
}

::-webkit-scrollbar-track {
    background: pink;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: orange;
}

.btn-primary {
    background-color: transparent  !important;
    border: none !important;
}

.dropdown {
    display: inline !important;
}