html {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 100px;
    background: green;
    display: none;
}

::-webkit-scrollbar-track {
    background: pink;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: orange;
}